html,body{
  padding:0;
  margin:0;
  height:100%;
  font-family: 'Comfortaa',arial,sans-serif !important;
  overflow: hidden;
}

#map{
  padding:0;
  border:1px solid #000;
  height: 100% !important;
  width: 100% !important;
  position:absolute !important;
}

h2 {
  margin: 0;
  text-decoration: underline;
  font-style: bold;
  color: rgba(247,247,40,1);
  font-size: 1.1em;
}

h3 {
  margin: 0;
  text-decoration: underline;
  font-style: bold;
  color: rgba(255, 57, 0, 1);
  font-size: 1.1em;
}

.shadow {
  -moz-box-shadow: 0 0 10px 50px #1E948F;
  -webkit-box-shadow: 0 0 100px 50px #1E948F;
  box-shadow: 5px 5px 20px #1E948F;
}

.shadow2{
  -moz-box-shadow: 0 0 10px 50px rgba(127,43,7,1);
  -webkit-box-shadow: 0 0 100px 50px rgba(127,43,7,1);
  box-shadow: 5px 5px 20px rgba(127,43,7,1);
}

.mainHeader{
  color: rgba(30,148,143,0.93);
  font-family: 'Comfortaa',arial,sans-serif;
  font-size: 2.00em;
  left: 50%;
  position: absolute;
  top: 0.35em;
  z-index: 100
}

.subHeader{
  color: rgba(30,148,143,0.84);
  font-family: 'Comfortaa',arial,sans-serif;
  font-size: 1.25em;
  left: 50%;
  position: absolute;
  top: 0.35em;
  z-index: 100
}

#title {
    color: rgba(147,218,215, 1.0);
    font-family: 'Comfortaa',arial,sans-serif;
    font-variant: small-caps;
    font-size: 2.2em;
    left: 50%;
    position: absolute;
    top: 0px;
    z-index: 100;
    position:absolute;
    left: 100px;
}

#sub-titles {
    color: rgba(147,218,215, 0.75);
    font-family: 'Comfortaa',arial,sans-serif;
    font-variant:small-caps;
    font-size: 1.35em;
    position: absolute;
    top: 42px;
    z-index: 100;
    position:absolute;
    left: 100px;
}

#info_title {
    color: #93DAD7;
    font-family: 'Comfortaa',arial,sans-serif;
    font-size: 1.65em;
    -left: 0.25em;
    position: absolute;
    -top: 0.35em;
}

#info_title2 {
    color: #93DAD7;
    font-family: 'Comfortaa',arial,sans-serif;
    font-size: 1.45em;
    -left: 0.25em;
    position: absolute;
    -top: 0.35em;
}

#header {
  position:absolute;
  top: 0;
  height: 75px;
  left:0;
  right: 0;
  background-color: rgba(30,148,143,0.71);
  z-index:100;
}

#info_window{
  display: none;
  position: absolute;
  text-align: left;
  top: 93px;
  right: 12px;
  width: auto;
  height: auto;
  background-color: rgba(30,148,143,0.84);
  font-family: 'Comfortaa',arial,sans-serif;
  color: rgba(147, 218, 215,1);
  font-size: 1em;
  border:2px solid;
  border-radius:25px;
  padding: 1%;
}

#info_window2{
  display: none;
  position: absolute;
  text-align: left;
  bottom: 45px;
  right: 12px;
  width: auto;
  height: auto;
  background-color: rgba(255, 168, 64, 0.87);
  font-family: 'Comfortaa',arial,sans-serif;
  color: rgba(166, 37, 0, 1);
  font-size: 1em;
  border:2px solid;
  border-radius:25px;
  padding: 1%;
}

#salmonLegend {
    display:none;
    z-index: 250;
    content:url(../images/maki_png/water-24.png);
    left: 5em;
    position: absolute;
    bottom: 5em;
}

#infoBox {
    display:none;
    color: #93DAD7;
    font-family: 'Comfortaa',arial,sans-serif;
    font-size: .5em;
    -left: 0.25em;
    position: absolute;
    -top: 0.35em;
}

#infoBox2 {
    display:none;
    color: rgba(255, 151, 0, 1);
    font-family: 'Comfortaa',arial,sans-serif;
    font-size: .5em;
    -left: 0.25em;
    position: absolute;
    -top: 0.35em;
}

/*
#modalButton {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: seagreen;
  left: 10px;
  bottom: 10px;
  z-index: 99999;
}

.modalButtonStyle {
  display: inline;
  border-radius: 100px;
  border-color: red;
  background: red;
  left: 100px;
  bottom: 100px;
  z-index: 99999;
}

#openModal{

}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.leaflet-top .leaflet-control-zoom {
  margin-top: 750px;
}

#about {
    display:none;
    color: rgba(255, 151, 0, 1);
    font-family: 'Comfortaa',arial,sans-serif;
    font-size: .5em;
    -left: 0.25em;
    position: absolute;
    -top: 0.35em;
}

.aboutContent {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

.black_overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
*/
